#container{
    width: 800px;
    border: 1px solid red;
    
    margin: 0 auto;
}
#header{
    height: 100px;
}

#brand{
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: rgb(206, 34, 206);
    text-decoration: none;


}

#searchbox{
    float: right;
    background:linear-gradient(#b3f55d, #47af30) ;
    width: 400px;
    height: 50px;
}

.text{
    float: left;
    width: 150px;
    color: orange;
    padding: 3px;
}

.submit{
    float: left;
    background: rgb(189, 27, 149);
    color: white;
    
}